.side-bar{
  background-color: #0f172a;
  display: grid;
  grid-template-rows: 0.1fr 0.01fr 0.1fr;
  color: #fff;
  height: 100dvh;


}

.side-bar form{
  display: grid;
  align-self: start;
  gap: 1rem;
  padding: 1rem;
  

  
}

.side-bar h1{
  justify-self: center;
}

.side-bar form input{
  padding: 0.4rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}





