.side-bar{
  background-color: #0f172a;
  display: grid;
  grid-template-rows: 0.1fr 0.01fr 0.1fr;
  color: #fff;
  height: 100dvh;


}

.side-bar form{
  display: grid;
  align-self: start;
  gap: 1rem;
  padding: 1rem;
  

  
}

.side-bar h1{
  justify-self: center;
}

.side-bar form input{
  padding: 0.4rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.side-bar form  button{
  display: flex;
  justify-content: center;
  padding: 0.5rem 2rem;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  font-weight: 900;
  font-size: 1rem;
}

.form-content{
  display: flex;
  flex-direction: column;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
  
}





